* {
    box-sizing: border-box;
}

:root {

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
}

#title {
    text-align: center;
}

.scores {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.scores > * {
    flex: 1 1 0;
}

#player {
    display: flex;
    flex-direction: row;
}

#computer {
    display: flex;
    flex-direction: row-reverse;
}

.score {
    margin: 0;
}

.progress-bar {
    height: 18px;
    width: 80px;
    border: 1px solid black;
    border-radius: 3px;
}


.progress {
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background-color: orangered;
    color: transparent;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.selection {
    max-width: 120px;
    max-height: 120px;
    width: 15vw;
    height: calc(15vw);
}

.selections {
    display: flex;
    max-height: 50vh;
    height: calc(50vw);
    justify-content: space-around;
    align-items: center;
}

#player-choice #computer-choice {
    width: 50vw;
}

.results {
    height: 8vh;
    margin: 10px auto;
}

#result {
    text-align: center;
}

#new-game {
    text-align: center;
}