* {
    box-sizing: border-box;
}

:root {
--bg-color: #0F110C;
--main-color: #F9E900;
--font-color: #F7F7F9;
--progress-color: #3D3B8E;
--gameplay-color: #009CCB;
--secondary-font-color: #918B76;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    background-color: var(--bg-color);
    font-size: 20px;
}

#title {
    text-align: center;
    color: var(--main-color);
}

.text {
    color: var(--font-color);
}

/* score layout and styling */
.scores {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 5px;
}

#player, #computer {
    display: flex;
    align-items: center;
}

#computer {
    flex-direction: row-reverse;
}

.score {
    color: var(--font-color);
    font-weight: bold;
}

.score.player {
    margin: 0;
    margin-right: 5px;
}

.score.computer {
    margin: 0;
    margin-left: 5px;
}

/* progress bar styling */

.progress-container {
    height: 18px;
    width: 100%;
    max-width: 150px;
    min-width: 150px;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    padding: 1px;
    z-index: 1;
}

.progress-container .progress {
    height: 100%;
    width: 0%;
    max-width: 100%;
    background-color: var(--progress-color);
    transition: 0.5s linear;
}

/* button styling */
.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.selection {
    max-width: 120px;
    max-height: 120px;
    width: 15vw;
    height: calc(15vw);
}

/* results styling */
.results {
    height: 5vh;
    margin: 10px auto;
}

#result {
    text-align: center;
    color: var(--font-color);
    font-weight: bold;
}

#player-choice, #computer-choice {
    color: var(--main-color);
    font-size: 40px;
    font-weight: bold;
}

#new-game {
    text-align: center;
    color: var(--font-color);
}

/* gameplay styling */
.gameplay {
    display: flex;
    max-height: 45vh;
    height: 45vh;
    justify-content: space-around;
    align-items: center;
}

/* footer styling */
footer {
    color: var(--font-color);
}
