* {
    box-sizing: border-box;
}

:root {

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
}

#title {
    text-align: center;
}

/* score layout and styling */
.scores {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#player, #computer {
    display: flex;
}

#computer {
    flex-direction: row-reverse;
}

.score.player {
    margin: 0;
    margin-right: 5px;
}

.score.computer {
    margin: 0;
    margin-left: 5px;
}

/* progress bar styling */

.progress-container {
    height: 18px;
    width: 100%;
    max-width: 80px;
    min-width: 80px;
    border: 1px solid black;
    border-radius: 3px;
}

.progress-container .progress {
    height: 100%;
    width: 0%;
    border-radius: 3px;
    background-color: orangered;
    color: transparent;
    transition: 0.5s linear;
}

/* button styling */
.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.selection {
    max-width: 120px;
    max-height: 120px;
    width: 15vw;
    height: calc(15vw);
}

/* results styling */
.results {
    height: 8vh;
    margin: 10px auto;
}

#result {
    text-align: center;
}

#new-game {
    text-align: center;
}

/* gameplay styling */
.gameplay {
    display: flex;
    max-height: 50vh;
    height: calc(50vw);
    justify-content: space-around;
    align-items: center;
}

#player-choice #computer-choice {
    width: 50vw;
}

